<ion-header>
  <ion-toolbar>
    <a [routerLink]="['/home']"> 
      <img  src="../../assets/wikiprofes2.0.png" style="width: 60px; height: 60px;" >
    </a>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card class="contenedor">
   <ion-card class="forma">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Iniciar Sesión</ion-title>
        </ion-toolbar>
      </ion-header> 
      <p align="center">
        <img src="../../assets/wikiprofes2.0.png">
      </p>
      <h2>Iniciar Sesión</h2>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <section>
        <header>Acceder como:</header>
        <ion-button size="small">Alumno</ion-button>
        <ion-button size="small">Administrador</ion-button>
        <ion-button size="small">Profesor</ion-button>
      </section>
      <ion-button expand="block">Entrar</ion-button>
      <ion-button color="dark" expand="block">¿Olvidades tu contraseña?</ion-button>
      <p align="center">
       <a [routerLink]="['/registro']">¿No tienes una cuenta?</a>
      </p>
    </ion-card>
  </ion-card>
</ion-content>