<ion-header [translucent]="true">
  <ion-toolbar>
    <a [routerLink]="['/home']"> 
      <img  src="../../assets/wikiprofes2.0.png" style="width: 60px; height: 60px;" >
    </a>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Iniciar Sesión</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="principal">
    <div  id="contenedor">
      <div id="barra_buqueda">
        
      </div>

      <div id="contenido">
        <div id="contenido_grid">

          <div id="contenido_busqueda">
            <div id="ranking">
              <ion-card id="contenedor_ranking" color="dark">
                  <h2>Opciones:</h2>
                <ion-button color="medium" expand="block">Mostrar profesores</ion-button>
              </ion-card>
            </div>
  
            <div id="busqueda">
              <ion-card id="busqueda_conten" color="dark">
                <header><h3>Contacto:</h3></header>
                <a href = "https://discord.gg/H2f2JE9Z" > Discord  </a><br><br>
                <a> Noticias (En construcción) </a><br><br>
                <a> Lista de actualizaciones (En construcción) </a><br><br>

                <header><h3>Preguntas y dudas frecuentes:</h3></header>
                <a > ¿Cómo evalúo a un profesor? (En construcción) </a><br><br>
                <a > ¿Cómo registro a un profesor para evaluarlo? (En construcción)</a><br><br>
                <a > Soy profesor, ¿cómo me registro? (En construcción)</a><br><br>
                <a  > Soy estudiante, ¿cómo me registro? (En construcción)</a>
              </ion-card>
            </div>
          </div>

          <div id="mostrar">

            <ion-card id="mostrar_profesor" >

              <ion-item color="dark">
                <ion-searchbar animated></ion-searchbar>
                <ion-button color="medium" >Buscar</ion-button>
              </ion-item>

              <ion-content id="muestra">
                <ion-item *ngFor="let maestro of maestros">
                  <img width="200Px" height="200px" src="https://i.pinimg.com/originals/7e/9a/b2/7e9ab2b0d8b4a110e75cfc4a060e2474.png">
                    <ion-card-header>

                      <ion-card-title>
                        <p>Nombre: {{ maestro.nombre }}
                        {{ maestro.apellidos }}    
                      </ion-card-title>
                      <ion-card-title>
                        Centro universitario: {{ maestro.centro_universitario }}
                      </ion-card-title>
                      <ion-card-subtitle>
                        <p>Conocimiento: {{ maestro.promedio_conocimiento }} %</p>
                        <p>Puntualidad: {{ maestro.promedio_puntualidad }} %</p>
                        <p>Dificultad: {{ maestro.promedio_dificultad }} %</p>
                      </ion-card-subtitle>
                    </ion-card-header>
                </ion-item>

                <ion-infinite-scroll threshold="250px" (ionInfinite)="loadData($event)">
                  <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Cargando....">
                  </ion-infinite-scroll-content>
                </ion-infinite-scroll>
              </ion-content>
              
            </ion-card>

          </div>

        </div>
      </div>
    </div>
  </ion-card>
</ion-content>